@tailwind base;
@tailwind components;
@tailwind utilities;


.custom_width {
    width: 100%;
    /* This applies the 'lg:w-auto' part */
}

/* Media query for large screens as per Tailwind's default breakpoint for 'lg' */
@media (min-width: 1024px) {
    .custom_width {
        width: calc(100% - 250px);
        /* This applies the inline style */
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotate 5s linear infinite;
}